{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title_block %}
    {% translate "Market" %} - {% translate "Items" %}
{% endblock %}
{% block pageheader %}
    {% if items_page %}
        <h1>{% translate "Items" %}</h1>
    {% else %}
        <h1>{% translate "My Items" %}</h1>
    {% endif %}
{% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Image" %}</th>
            <th scope="col">{% translate "Price" %}</th>
            {% if items_page %}
                <th scope="col">{% translate "Seller" %}</th>
            {% endif %}
            <th scope="col">{% translate "Options" %}</th>
            {% if not items_page %}
                <th scope="col">{% translate "Status" %}</th>
            {% endif %}


        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.pk }}</th>
                <td>{{ item.name }}</td>
                <td>
                    {% with image_static=item.image_url %}
                    <img alt="image" style="width:64px" src="{% static image_static %}">
                    {% endwith %}
                    
                </td>
                <td>{{ item.price }}</td>
                {% if items_page %}
                    <td>{{ item.owner.username }}</td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#Modal-MoreInfo{{ item.pk }}">
                        {% translate "More Info" %}
                    </button>
                    {% if items_page %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#Modal-PurchaseConfirm{{ item.pk }}">
                            {% translate "Confirm purchase" %}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#Modal-PutupForSale{{ item.pk }}">
                            {% translate "Put up for sale" %}
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#Modal-DeleteItem{{ item.pk }}">
                            {% translate "DeleteItem" %}
                        </button>
                    {% endif %}
                    {% include 'includes/items_modals.html' %}
                </td>
                {% if not items_page %}
                    <td>{% if item.is_for_sale %}{% translate "_for_sale" %}{% else %}{% translate "_not_for_sale" %}{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}